{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <form action="" method="post" enctype="multipart/form-data" novalidate class="newhood mt-5">
                <h3 class="text-center">Add Your House Here</h3>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-success mt-5">Add House</button>

            </form>
        </div>
    </div>

</div>
{% endblock %}