{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid hdz mt-5 ">

    <div class="row">
        {% for nyumbani in all_homes %}
        <div class="col-md-8 mb-5">
            <div class="card  crd">
                <h5 class="card-title">{{ nyumbani.name }}  ({{nyumbani.location}}) </h5>
                <img src="{{ nyumbani.photo.url }}" class="card-img-top img-fluid" alt="{{ nyumbani.name }}">
                <div class="card-body">
                    <hr>
                     <span class="post__date-time">{{ nyumbani.created }}</span>
                        <p class="card-text"><strong class="text-info">Description| </strong>{{nyumbani.description}}</p>
                        </h5>
                        <div class="card-body">
                            <div class="flex">

                                <div class="ml-3">
                                    <a href="nyumbani/{{nyumbani.id}}/like"><span class="mdi mdi-cards-heart-outline"></span></a>

                                </div>
                                <div class="ml-3">
                                    <a href="nyumbani/{{nyumbani.id}}"> <span class="mdi mdi-comment"></span>
                                    </a>
                                    </p>

                                </div>

                               
                                <p>{{nyumbani.like_count.count}} <strong>Likes</strong></p>
                            </div>
                         

                        </div>
                    </div>
                </div>
        {% endfor %}

       
    </div>
</div>

    </div>
</div>

{% endblock %}